@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Contact me at ";
    ViewBag.Email = "evanreeves22@gmail.com";
}


<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message <a href=@ViewBag.Email>@ViewBag.Email</a></h4>
