@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Evan Reeves</h1>
  <p class="lead">.NET Developer.</p>
    <a class="btn btn-default githubbutton" href="https://github.com/ereeves" data-size="large" aria-label="Follow EReeves on GitHub">Follow EReeves on Github</a>
</div>

